{{ define "create" }}

    {{ template "header" }}

    <main role="main" class="px-3 py-3">
        <h4>Add news</h4>
        <form action="/save_article/" method="post">
            <input type="text" name="title" id="title"
                   placeholder="Enter the title of the article" class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control"
                      placeholder="Enter the announcement of the article"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control"
                      placeholder="Enter the text of the article"></textarea><br>
            <button class="btn btn-warning">Add</button>
        </form>
    </main>

    {{ template "footer" }}

{{ end }}